<div id="filterrific_results">

  <div>
    <%= page_entries_info users %>
  </div>

  <table>
    <tr>
      <th>Organisation Type</th>
      <th>Name of Organisation</th>
      <th>Email</th> 
      <th>Nature of Funding</th>  
    </tr>
    <% users.each do |user| %>
      <tr>
        <td><%= user.rolable_type %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td> 
        <td><%= user.nature_of_funding %></td>   
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate users %>