<div><%= @user.username %></div>
<div><%= @user.provider_type %></div>
<div><%= @user.nature_of_financing %></div>
<div><%= @user.other_support_offered %></div>

  <%= link_to "Edit Profile", provider_edit_path %>
