<div><%= "Other Information" %><br /></div>

<div><%= "1. Type of Credit Provider" %><br /></div>
<%= @user.provider_type %>

<div><%= "2. Name of Funder" %><br />
<%= @user.username %>

<div><%= "3. Nature of Financing Offered" %><br /></div>
<%= @user.nature_of_financing %>

<div><%= "4. Other Forms of Support Offered" %><br /></div>
<%= @user.other_support_offered %>

<div><%= "About This Credit Provider" %><br /></div>