<h4>Name of Company<br />
<h5><%= @user.username %></h5></h4>

<h4>Other Information<br /></h4>

<h4>1. Name of Chief Executive Officer<br />
<h5><%= @user.ceo_name %></h5></h4>

<h4>2. Date Founded<br />
<h5><%= @user.date_founded %></h5></h4>

<h4>3. Business Activity<br />
<h5><%= @user.business_activity %></h5></h4>

<h4>4. Nature of Funding Sought<br />
<h5><%= @user.nature_of_funding %></h5></h4>

<h4>5. Other Support Sought<br />
<h5><%= @user.other_support_sought %></h5></h4>

<h4>About This SME<br /></h4>

