<div><%= "Name of Company" %><br /></div>
<%= @user.username %>

<div><%= "Other Information" %><br /></div>

<div><%= "1. Name of Chief Executive Officer" %><br /></div>
<%= @user.ceo_name %>

<div><%= "2. Date Founded" %><br /></div>
<%= @user.date_founded %>

<div><%= "3. Business Activity" %><br /></div>
<%= @user.business_activity %>

<div><%= "4. Nature of Funding Sought" %><br /></div>
<%= @user.nature_of_funding %>

<div><%= "5. Other Support Sought" %><br /></div>
<%= @user.other_support_sought %>

<div><%= "About This SME" %><br /></div>

