<h1>Edit Settings</h1>


<%= form_for @user, url: edit_settings_path(@user) do |f| %>
  <%= render 'shared/error_messages' %>

  <h4>Email</h4>
  <%= f.email_field :email, :required => 'required' %></div><br />

  <h4>Address</h4>
  <%= f.text_field :address, :required => 'required' %></div><br />

  <h4>Contact Number</h4>
  <%= f.text_field :contact_number, :required => 'required' %></div><br />

  <h4>Please enter your password to make the changes</h4>
  <h4>Password</h4>
  <%= f.password_field :password %></div><br />

  <h4>Password Confirmation</h4>
  <%= f.password_field :password_confirmation %></div><br>
  
  <%= f.submit "Save changes", class: "button fit special" %>
<% end %>


