<h1>Edit Settings</h1>


<%= form_for @user, url: edit_settings_path(@user) do |f| %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :required => 'required' %></div>

  <div><%= f.label :address %><br />
  <%= f.text_field :address, :required => 'required' %></div>

  <div><%= f.label :contact_number %><br />
  <%= f.text_field :contact_number, :required => 'required' %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Password Confirmation" %><br />
  <%= f.password_field :password_confirmation %></div>
  
  <%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>

