<h1>Profile</h1>
<% if @user.rolable_type == 'Sme' %>
	<%= render 'sme_profile' %>
<% else %>
	<%= render 'provider_profile' %>
<% end %>

<%= @user.content.to_s.html_safe %>

<div><%= "Contact Details" %><br /></div>
<div><%= "Email Address:" %><br /></div>
<%= @user.email %>
<div><%= "Contact Number:" %><br /></div>
<%= @user.contact_number %>
<div><%= "Address:" %><br /></div>
<%= @user.address %>

<% if current_user.id == @user.id %>
	<% if @user.rolable_type == 'Sme' %>
		<div><%= link_to "Edit Profile", sme_edit_path %></div>
	<% else %>
		<div><%= link_to "Edit Profile", provider_edit_path %></div>
	<% end %>
  <% else %>
  <div><%= link_to "Send a Message to this User", messages_path %></div>
<% end %>

