<h1>Contact Details</h1>
<div><%= "Email Address" %><br /></div>
<%= @user.email %>

<div><%= "Contact Number" %><br /></div>
<%= @user.contact_number %>

<div><%= "Address" %><br /></div>
<%= @user.address %>

<% if @user.rolable_type == 'Sme' %>
	<%= render 'sme_profile' %>
<% else %>
	<%= render 'provider_profile' %>
<% end %>


