<h1>Sign up</h1>

<%
  # customized code begin

  params[:user][:user_type] ||= 'sme'

  if ["sme", "provider"].include? params[:user][:user_type].downcase
    child_class_name = params[:user][:user_type].downcase.camelize
    user_type = params[:user][:user_type].downcase
  else
    child_class_name = "Sme"
    user_type = "sme"
  end

  resource.rolable = child_class_name.constantize.new if resource.rolable.nil?

  # customized code end
%>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= my_devise_error_messages! %>

  <h4>email<h4>
  <%= f.email_field :email, :required => 'required' %></div><br>

  <h4>Contact Address</h4>
  <%= f.text_field :address, :required => 'required' %></div><br>

  <h4>Contact Number</h4>
  <%= f.text_field :contact_number, :required => 'required' %></div><br>

  <h4>password</h4>
  <%= f.password_field :password, :required => 'required' %></div><br>

  <h4>Password Confirmation</h4>
  <%= f.password_field :password_confirmation %></div><br>

  <% # customized code begin %>
  <%= fields_for resource.rolable do |rf| %>
    <% render :partial => "#{child_class_name.underscore}_fields", :locals => { :f => f } %>
  <% end %>

  <%= hidden_field :user, :user_type, :value => user_type %>
  <% # customized code end %>

 <%= f.submit "submit", class: "button fit special" %>
<% end %>