<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Alternative Financing Portal", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>User Profile</li>
        <% if user_signed_in? %>
        <li><%= link_to "Search", users_path %></li>
        <% else %>
        <li><%= link_to('Search', no_search_path) %></li>
        <% end %>
        <li><%= link_to "Home",    root_path %></li>
        <li><%= link_to "Help",    help_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>
        <% else %>
        <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>